<html>
<head>
  <title> Phi Delta Theta | NJ Alpha</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/blueimp-gallery.min.css">
</head>

<body>


<div class="fixed" id="nav">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#alumni">ALUMNI</a></li>
      <li><a href="#gallery">GALLERY</a></li>
      <li><a href="#calendar">RUSH 2014</a></li>
      <li><a href="#footer-container">CONTACT</a></li>
    </ul>
</div>  
  <div class="jumbotron">
    <div class="hero">
      <div class="container">
        <h1>Phi Delta Theta</h1>
        <p>New Jersey Alpha</p>
        <br>
        <img src="build/images/down-bold.png">
      </div>
    </div>
  </div>

  <div id="about">
    <div id="about-header" class="row">
     <div class="col-md-6">  
       <h1> ABOUT</h1>
     </div>
   </div>
   <div class="row">
    <div class="col-md-6" id="about-text">
   Founded in 1988 by a group of men who wanted to create a fraternity free of hazing, the New Jersey Alpha Chapter of Phi Delta Theta has had a strong presence in the Rutgers community by boasting high GPAs, earning a spot in the Keller Cup’s stronger conference, and pioneering the week-long philanthropy event Phi-Esta.

Today the New Jersey Alpha chapter of Phi Delta Theta currently incorporates a fraternity of 58 men and is looking for continued growth this upcoming semester. On campus, Phi Delts continue to be leaders socially, academically, and athletically.

Phi Delta Theta now has nearly 180 active chapters and colonies in 42 states and five Canadian provinces. The Fraternity has initiated more than 245,000 men and currently has more than 160,000 living alumni, many holding prominent positions in the technical, business and science industries. There are over 100 recognized alumni clubs across the U.S. and Canada. As a network, Phi Delta Theta can offer more opportunities than other fraternal organization in the world. 
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/405559_254380701301171_1010387186_n.jpg">
    </div>
  </div>
</div>
<div id="alumni">
  <div id="about-header" class="row">
   <h1 class="text-center">Famous Phis</h1>
 </div>

 <div class="row row-centered">

  <div class="col-md-4">
    <h3 class="text-center">Neil Armstrong</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Neil_Armstrong-320x320.jpg">
    <div class="alumni-text">
      <p>
      <br> 
Armstrong was an aerospace engineer, naval aviator, test pilot, university professor, and perhaps most famously known as the first man on the moon. Armstrong joined Phi Delta Theta at Purdue University in 1955. He is still known as one of the most important figures in all of human scientific progress, and a true model of an exemplary Phi.
</p>
    </div>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Drew Houston</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Drew-Houston-320x320.jpg">
    <div class="alumni-text">
      <p>
      <br>
     Andrew W. "Drew" Houston is an American Internet entrepreneur who is best known for being the founder and CEO of Dropbox. At the Massachusetts Institute of Technology in 2005, Houston joined Phi Delta Theta and proceeded to make a name and a fortune for himself. He is now worth $1.2 billion and his work has had an incredible impact on the internet and the world's ability to network and share. 
	</p>
    </div>
  </div>

  <div class="col-md-4">
    <h3 class="text-center">Wes Welker</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Wes_Welker-320x320.jpg">
    <br>
    <div class="alumni-text">
      <p>
      <br> 
     Wesley Carter "Wes" Welker is an American football wide receiver and return specialist for the Denver Broncos of the National Football League (NFL). He played college football for Texas Tech University, where he became a member of the Phi Delta Theta Fraternity Texas Epsilon (Texas Tech's first fraternity) in 2004, and was signed by the San Diego Chargers as an undrafted free agent. 
	</p>
    </div>
  </div>
</div>
</div>
</div>
  <div id="gallery">
     <div id="about-header" class="row"><h1 class="text-center">Gallery</h1></div>
    <br> 
    <br>     
<div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div> 
    <div id="links">
    <a href="build/images/1.png">
        <img src="build/images/1.png">
    </a>
    <a href="build/images/2.png">
	<img src="build/images/2.png">
    </a>
    
    <a href="build/images/3.png">
        <img src="build/images/3.png">
    </a>
    <a href="build/images/4.png">
        <img src="build/images/4.png">
    </a>
    <a href="build/images/5.png">
        <img src="build/images/5.png">
    </a>
    <a href="build/images/6.png">
        <img src="build/images/6.png">
    </a>
    <a href="build/images/7.png">
        <img src="build/images/7.png">
    </a>
   <a href="http://tinypic.com?ref=eff02e" target="_blank"><img src="http://i61.tinypic.com/eff02e.jpg" border="0" alt=""></a> 
   <a href="http://tinypic.com?ref=29bkf7k" target="_blank"><img src="http://i58.tinypic.com/29bkf7k.jpg" border="0" alt=""></a>
   <a href="http://tinypic.com?ref=2w2gf14" target="_blank"><img src="http://i57.tinypic.com/2w2gf14.png" border="0" alt=""></a>
   <a href="http://tinypic.com?ref=28jbonk" target="_blank"><img src="http://i57.tinypic.com/28jbonk.png" border="0" alt=""></a>
  

	</div>  
</div>
<div id="calendar"> 
     <div id="about-header" class="row"><h1 class="text-center">Rush 2014 Schedule</h1></div>
    <br> 
    <br>    
 
 <div class="row row-centered">
<iframe src="https://www.google.com/calendar/embed?src=shawn_e14%40yahoo.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div> 
</div>
		<div id="footer-container">
			<div class="row">
			
				<div class="col-lg-2 col-lg-offset-1">
					<h5>CONTACT</h5>
				</div>
				<div class="col-lg-6">
					<p><t>President</t><br>
						 Shawn Elwood - 908-216-4037<br>
					</p>

					<p><t>Rush Chair</t><br>
						 Esaue Conway - 862-588-6539<br>
					</p>

					<p><t>Rush Secretary</t><br>
						 Jimmy Nolan - 908-380-5511<br>
					</p>
				</div>
				<div class="col-lg-3">
					<p><sm>SOCIAL LINKS</sm></p>

				<div class="row"> 
				
<a href="http://instagram.com/phideltatheta_ru" target="_blank" ><img src="http://i57.tinypic.com/9ft845.png" border="0" height="20px" width="20px" ></a>
			

<a href="https://www.facebook.com/RushPDTNJA" target="_blank"><img src="http://i59.tinypic.com/346w8es.png" border="0" height="20px" width="20px"  ></a>

 
<a href="https://twitter.com/PhiDeltaThetaRU" target="_blank"><img src="http://i57.tinypic.com/2aajbtd.png" border="0" height="20px" width="20px" ></a>

</div>
				</div>
			</div><!--/.row -->
		</div><!--/.container -->
<script src="javascripts/blueimp-gallery.min.js"></script>
<script>
blueimp.Gallery(
    document.getElementById('links').getElementsByTagName('a'),
    {
        container: '#blueimp-gallery-carousel',
        carousel: true
    }
);
</script>
</body> 
</html>
