<html>
<head>
  <title> Phi Delta Theta | NJ Alpha</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link href="/css/style.css" rel="stylesheet">
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">
  <link href="//fonts.googleapis.com/css?family=Oswald:300,400,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="css/blueimp-gallery.min.css">
</head>

<body>

  <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
  </div>

  <div class="fixed" id="nav">
    <ul>
      <li><a href="#">HOME</a></li>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#alumni">ALUMNI</a></li>
      <li><a href="#gallery">GALLERY</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </div>  
  <div class="jumbotron">
    <div class="hero">
      <div class="container">
        <h1>Phi Delta Theta</h1>
        <p>New Jersey Alpha</p>
        <br>
        <img src="images/down-bold.png">
      </div>
    </div>
  </div>

  <div id="about">
    <div id="about-header" class="row">
     <div class="col-md-6">  
       <h1> ABOUT</h1>
     </div>
   </div>
   <div class="row">
    <div class="col-md-6" id="about-text">
      Donec eu leo libero. Nunc id viverra ante, id pellentesque nibh. Etiam blandit elementum lacus et tincidunt. Nullam fermentum laoreet mi blandit elementum. Duis eget tellus ac nibh fringilla imperdiet at at tortor. Aenean ornare pretium diam, vitae ornare ante pulvinar sit amet. Donec sit amet aliquet elit. Vestibulum nisi velit, hendrerit in arcu eu, tempor sodales ligula. Etiam ut magna placerat, luctus mauris hendrerit, vehicula mi. Ut vel nisl lobortis, semper magna quis, volutpat nisl. Maecenas sed arcu porta, adipiscing purus eleifend, pellentesque lorem. Pellentesque semper purus eu dui feugiat, vitae commodo est ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xaf1/t1.0-9/405559_254380701301171_1010387186_n.jpg">
    </div>
  </div>
</div>
<div id="alumni">
  <div id="about-header" class="row">
   <h1 class="text-center">Famous Phis</h1>
 </div>
 <div class="row row-centered">
  <div class="col-xs-3 col-centered ">
    <h3 class="text-center">Neil Armstrong</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Neil_Armstrong-320x320.jpg">
    <div class="alumni-text">
      <p>Donec eu leo libero. Nunc id viverra ante, id pellentesque nibh. Etiam blandit elementum lacus et tincidunt. Nullam fermentum laoreet mi blandit elementum. Duis eget tellus ac nibh fringilla imperdiet at at tortor. Aenean ornare pretium diam, vitae ornare ante pulvinar sit amet. Donec sit amet aliquet elit. Vestibulum nisi velit, hendrerit in arcu eu, tempor sodales ligula. Etiam ut magna placerat, luctus mauris hendrerit, vehicula mi. Ut vel nisl lobortis, semper magna quis, volutpat nisl. Maecenas 
      </p>
    </div>
  </div>

  <div class="col-xs-3 col-centered">
    <h3 class="text-center">Drew Houston</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Drew-Houston-320x320.jpg">
    <div class="alumni-text">
      <p>Donec eu leo libero. Nunc id viverra ante, id pellentesque nibh. Etiam blandit elementum lacus et tincidunt. Nullam fermentum laoreet mi blandit elementum. Duis eget tellus ac nibh fringilla imperdiet at at tortor. Aenean ornare pretium diam, vitae ornare ante pulvinar sit amet. Donec sit amet aliquet elit. Vestibulum nisi velit, hendrerit in arcu eu, tempor sodales ligula. Etiam ut magna placerat, luctus mauris hendrerit, vehicula mi. Ut vel nisl lobortis, semper magna quis, volutpat nisl. Maecenas 
      </p>
    </div>
  </div>

  <div class="col-xs-3 col-centered">
    <h3 class="text-center">Wes Welker</h3>
    <img src="https://www.phideltatheta.org/wp-content/uploads/2013/08/Wes_Welker-320x320.jpg">
    <br>
    <div class="alumni-text">
      <p>Donec eu leo libero. Nunc id viverra ante, id pellentesque nibh. Etiam blandit elementum lacus et tincidunt. Nullam fermentum laoreet mi blandit elementum. Duis eget tellus ac nibh fringilla imperdiet at at tortor. Aenean ornare pretium diam, vitae ornare ante pulvinar sit amet. Donec sit amet aliquet elit. Vestibulum nisi velit, hendrerit in arcu eu, tempor sodales ligula. Etiam ut magna placerat, luctus mauris hendrerit, vehicula mi. Ut vel nisl lobortis, semper magna quis, volutpat nisl. Maecenas 
      </p>
    </div>
  </div>
</div>
</div>
</div>
  <div id="gallery">
     <div id="about-header" class="row"><h1 class="text-center">Gallery</h1></div>
     <div id ="links" class="links"> 
   <a href="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_b.jpg" title="Roe Deer, Scotland" data-gallery=""><img src="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_s.jpg"></a>
<a href="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_b.jpg" title="Roe Deer, Scotland" data-gallery=""><img src="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_s.jpg"></a>
<a href="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_b.jpg" title="Roe Deer, Scotland" data-gallery=""><img src="http://farm4.static.flickr.com/3863/14870317518_1de7cab671_s.jpg"></a> 
  
    </div>
</div>
<script src="javascripts/blueimp-gallery.min.js"></script>
<script>
document.getElementById('links').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>
</body> 
</html>
