
.navbar-fixed-top{position:absolute}
.jumbotron{background-image:url('/img/Cover.png');background-attachment:fixed;background-position:center bottom;background-size:cover;position:relative;width:100%;height:725px;}
.jumbotron .hero{background-attachment:fixed;margin:0 auto;padding:220px 0 220px;width:100%}
.jumbotron .container{text-align:center}
.jumbotron h1{font-family:'Open Sans',serif;font-size:80px;font-weight:700;color:#F0FFFF}
.jumbotron p{font-family:'Open Sans',sans-serif;color:#F0FFFF;font-size:25px}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}
div#links{     /* this will hide div with class div_class_name */
  display:none;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (max-width: 768px){
  .jumbotron h1{font-size:50px;font-weight:700;}
  .jumbotron p{font-size:15spx}
}
@media (min-width: 768px) {

  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }

  .featurette-heading {
    font-size: 50px;
  }


}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }

}

#nav a{
    color: #B0D9E7;
    font-family: "HighTideSans", sans-serif;
    font-size: .9em;
    letter-spacing:3px;
}

#nav a:hover{
    color: #F1F1F1;
    opacity: .5;
}
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99; }

  #nav {
    margin-bottom: 10px;    
    background: rgba(36,36,36,.85);
    text-align: center;
    min-height: 40px;
    padding-bottom: 10px;
}

#nav ul{
    padding: 10px;
}

#nav li{
    list-style-type: none;
    display: inline;
    float: left;
    width: 16%; 

}
#about{
    background: rgba(51, 51, 51, 0.85);
    padding: 30px;
    margin-top: 50px;
    font-family:'Open Sans',serif;
    color:#FFFFFF

}

#alumni{
    background: rgba(51, 51, 51, 0.85);
    padding: 30px;
    margin-top: 50px;
    font-family:'Open Sans',serif;
    color:#FFFFFF

}

#gallery{
    background: rgba(51, 51, 51, 0.85);
    padding: 30px;
    margin-top: 50px;
    font-family:'Open Sans',serif;
    color:#FFFFFF

}
#footer-container{

    background: rgba(10, 10, 10, 0.85);
    padding: 30px;
    margin-top: 50px;
    font-family:'Open Sans',serif;
    color:#FFFFFF


} 
#calendar{
    background: rgba(51, 51, 51, 0.85);
    padding: 30px;
    margin-top: 50px;
    font-family:'Open Sans',serif;
    color:#FFFFFF

}
.thumb{
    height: 75px;
    width: 75px;
}
#about-text{
    font-size: 1.8em;
    letter-spacing:1px;  
    font-family:'Open Sans',serif;
    color:#FFFFFF
}
body{
    background: url('/img/backg.png');
    background-size: ;
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}
#alumni-text{
    font-size: 1.8em;
    letter-spacing:1px;  
    font-family:'Open Sans',serif;
    color:#FFFFFF
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:320px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}

.dg-container{
  width: 100%;
  height: 450px;
  position: relative;
}
.dg-wrapper{
  width: 481px;
  height: 316px;
  margin: 0 auto;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  -o-perspective: 1000px;
  -ms-perspective: 1000px;
  perspective: 1000px;
}
.dg-wrapper a{
  width: 482px;
  height: 316px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: transparent url(../images/browser.png) no-repeat top left;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
  display: block;
  padding: 41px 0px 0px 1px;
}
.dg-wrapper a div{
  font-style: italic;
  text-align: center;
  line-height: 50px;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
  color: #333;
  font-size: 16px;
  width: 100%;
  bottom: -55px;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div{
  display: block;
}
.dg-container nav{
  width: 58px;
  position: absolute;
  z-index: 1000;
  bottom: 40px;
  left: 50%;
  margin-left: -29px;
}
.dg-container nav span{
  text-indent: -9000px;
  float: left;
  cursor:pointer;
  width: 24px;
  height: 25px;
  opacity: 0.8;
  background: transparent url(../images/arrows.png) no-repeat top left;
}
.dg-container nav span:hover{
  opacity: 1;
}
.dg-container nav span.dg-next{
  background-position: top right;
  margin-left: 10px;
}

/*Gallery*/


